In [1]:
# mutliple outputs in cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# cell width
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

### Imports and data folder path

In [2]:
import pandas as pd
import os
import numpy as np

PATH_IN = './Dataset/'

### Loading plot summaries
Plot summaries of 42,306 movies extracted from the November 2, 2012 dump of English-language Wikipedia. Each line contains the Wikipedia movie ID (which indexes into movie.metadata.tsv) followed by the summary.

In [3]:
plot_summaries_fname = os.path.join(PATH_IN, 'plot_summaries.txt')

plot_summaries = pd.read_csv(plot_summaries_fname, sep='\t', header=None, names=['id', 'plot_summary'])
plot_summaries['plot_summary'] = plot_summaries['plot_summary'].astype('string')

plot_summaries

plot_summaries.dtypes

             id                                       plot_summary
0      23890098  Shlykov, a hard-working taxi driver and Lyosha...
1      31186339  The nation of Panem consists of a wealthy Capi...
2      20663735  Poovalli Induchoodan  is sentenced for six yea...
3       2231378  The Lemon Drop Kid , a New York City swindler,...
4        595909  Seventh-day Adventist Church pastor Michael Ch...
...         ...                                                ...
42298  34808485  The story is about Reema , a young Muslim scho...
42299   1096473  In 1928 Hollywood, director Leo Andreyev  look...
42300  35102018  American Luthier focuses on Randy Parsons’ tra...
42301   8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42302   6040782  1940 - Operation Dynamo has just taken place. ...

[42303 rows x 2 columns]

id               int64
plot_summary    string
dtype: object

### Exploration can begin